[submodule "client"]
	path = client
	url = https://github.com/jphack2017yano/client.git
[submodule "picam"]
	path = picam
	url = https://github.com/jphack2017yano/picam.git
[submodule "server"]
	path = server
	url = https://github.com/jphack2017yano/server.git
